.root {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 5px;
    /* background-color: #262641; */
}

.sectionTitle > h2 {
    color: #7562e0;
}

.sectionBody {
    margin-top: 20px;
}

.sectionExperince {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.sectionExperince > p:first-child {
    font-size: 50px;
    color: #7562e0;
    font-weight: bold;
}

.skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills > div:first-child {
    background-color: #7562e0;
}

.skill {
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;
}

.skill > svg {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .root {
        justify-content: center;
        width: 100%;
        margin-top: 70px;
    }
    .sectionTitle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sectionBody {
        font-size: small;
    }
    .sectionExperince > p:last-child {
        font-size: small;
    }
    .skill {
        width: 100px;
        height: 100px;
        padding: 6px;
        gap: 5px;
        font-size: 10px;
    }
    .skill > svg {
        width: 25px;
        margin-bottom: 10px;
    }
}
