.root {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 75px;
    /* background-color: #262641; */
    border-radius: 15px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.categoryContainer > h2 {
    color: #7562e0;
    margin-bottom: 1em;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillContainer > p {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .root {
        justify-content: center;
        width: 100%;
    }
    .categoryContainer {
        display: flex;
        align-items: center;
    }
    .skillsContainer {
        align-items: center;
        justify-content: center;
    }
    .skillContainer > img {
        width: 45px;
        height: 45px;
    }
    .skillContainer > p {
        font-size: x-small;
    }
}
